<div class="container">
    <a class="btn btn-primary btn-lg mt-4" routerLink="/frompacientes"> Agragar Paciente</a>
</div>
<div class="container mt-4">
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Handle</th>
        <th scope="col">tipo de sangre</th>
        <th scope="col">Sexo</th>  
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>A+</td>
        <td>M</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>A+</td>
        <td>M</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
        <td>A+</td>
        <td>M</td>
      </tr>
    </tbody>
  </table>
</div>