<div class="container-sm">
    <div class="consulta">
<label for="cedula" class="form-label">Documento de identidad</label>
<div class="input-group mb-3">
  <input type="text" class="form-control" id="cedula" aria-describedby="basic-addon3">
</div>
<div class=" d-flex justify-content-end">
    <button type="button" class="btn btn-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Consultar
      </button>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Nombre del paciente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Agregar consulta</button>
        </div>
      </div>
    </div>
  </div>
